* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-image: url("/img/4341020.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1b1b;
  color: aliceblue;
}

.form-container {
  width: 80vw;
  max-width: 500px;
  padding: 2rem;
  background-color: #2a2726;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 8px #aa4f50;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

textarea {
  width: 100%;
  border: 1px solid rgb(144, 139, 139);
  border-radius: 8px;
  background-color: #272322;
  color: #cbc995;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 0.3em;
  border: 1px solid rgb(144, 139, 139);
  border-radius: 8px;
  font-size: 1em;
  background-color: #272322;
  color: #cbc995;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  padding: 0.4em;
  font-size: 1em;
  font-weight: bold;
  color: #cbc995;
  background-color: #a43f40;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d3686a;
}
